/* RESPONSIVO */

@media (max-width: 750px) {

    section { padding: 1.5rem; }

    .grid-imagem { grid-template-columns: 1fr; }

    .grid-imagem figure { order: -1; }

    .grid-imagem img {
        max-width: 280px;
        margin: 0 auto;
    }

    .cards { grid-template-columns: 1fr; }
}

@media (max-width: 500px) {

    main { padding: 1rem 3%; }
    section { padding: 1.2rem; }

    nav ul li a {
        padding: 0.65rem 0.7rem;
        font-size: 0.78rem;
    }

    .prova__botoes { flex-direction: column; }
    button { width: 100%; }
}
